@import '../styles/shared/colors';

.table-view-component {
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 8px 12px;

    &.type-text {
      text-align: left;
    }

    &.type-number {
      text-align: right;
    }
  }

  tr + tr {
    border-top: 1px solid rgba($secondary, 0.15);
  }

  > thead {
    background-color: $primary;
    color: $white;
  }

  > tbody {
    background-color: rgba($light-bg, .1);

    > tr {
      transition: background-color 300ms ease-in-out;

      &:hover {
        background-color: rgba($light-bg, .2);
      }
    }
  }
}